.datetimepicker-custom {
    padding: 0;
}

.datetimepicker-custom:focus {
    border: none;
}
.main-header.header-one .main-menu .navbar-collapse .navigation .active {
    background: var(--primary-color);
}

.dropdown-menu{
position: absolute;
top:  60px;
right: 0;
background-color: white;
border: 1px solid #ddd;
z-index: 1000;
padding: 0;
}

.dropdown-menu li{
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.dropdown-menu li a{
    text-decoration: none;
    color: black;
    display: block;
}
.dropdown-menu li a:hover{
    color: #f7921e;
   
}   